version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile

    container_name: ujianspemsa_app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
      - ./storage:/var/www/html/storage
      - ./bootstrap/cache:/var/www/html/bootstrap/cache

    environment:
      - APP_ENV=production
      - APP_DEBUG=false
      - DB_CONNECTION=mysql
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=laravel
      - DB_USER=user
      - DB_PASSWORD=simla2527

    depends_on:
      - db
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  db:
    image: mariadb:10.11
    container_name: laravel_db
    restart: unless-stopped

    environment:
      MARIADB_DATABASE: laravel
      MARIADB_ROOT_PASSWORD: simla2527
      MARIADB_USER: user
      MARIADB_PASSWORD: simla2527

    command: 
      --default-authentication-plugin=mysql_native_password

    ports:
      "3306:3306"

    volumes:
      - db_data:/var/lib/mysql
    networks:
      - laravel

networks:
  laravel:
    driver: bridge

volumes:
  db_data:
    driver: local
